.app {
    padding: 30px;
    background-color: rgb(145, 230, 245);
    height: 100vh;
  }
  
  .todo {
    align-items: center;
    display: flex;
    font-size: 18px;
    justify-content: space-between;
  }